{% extends "_.html" %}
{% load static %}

{% block header_content %}
<title>Fast Check | ST OpenLabs </title>
<link rel="stylesheet" media="screen, print" href="{% static 'css/datagrid/datatables/datatables.bundle.css' %}">
{% endblock %}

{% block _nombre %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre %}
{% block _nombre2 %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre2 %}
{% block _avatar %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar %}
{% block _avatar2 %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar2 %}
{% block _email %}{{cliente.user.email}}{% endblock _email %}


{% block content_body %}
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active">Detalle</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>


<div>
        <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                            {% if documento.tipo == 1 %} Finiquito  {% endif %}
                            {% if documento.tipo == 2 %} Carta de despido  {% endif %}
                            {% if documento.tipo == 3 %} Carta de renuncia  {% endif %}
                            {% if documento.tipo == 4 %} Certificado de defunción  {% endif %}
                            {% if documento.tipo == 5 %} Pensionado  {% endif %} - {{documento.rut}}

                        <span class="fw-300"></span>
                    </h2>
                    <div class="panel-toolbar">
                        <!-- <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button> -->
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <!-- <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button> -->
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                    
                        <div class="frame-wrap">
                            <form action="">
                                <div class="row">
                                    <div class="col-sm-6">

                                            <h6>Nombre</h6>
                                            {% if documento.nombre_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.nombre}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.nombre}}">
                                            {% endif %}
                                            

                                            <br>
                                            <h6>Rut</h6>
                                            {% if documento.rut_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.rut}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.rut}}">
                                            {% endif %}

                                            <br>
                                            <h6>Causal</h6>
                                            {% if documento.causal_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.causal}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.causal}}">
                                            {% endif %}
                                                
                                    </div>
                                    <div class="col-sm-6">

                                            <h6>Nombre empleador</h6>
                                            {% if documento.nombre_e_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.nombre_e}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.nombre_e}}">
                                            {% endif %}

                                            <br>
                                            <h6>Rut empleador</h6>
                                            {% if documento.rut_e_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.rut_e}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.rut_e}}">
                                            {% endif %}

                                            <br>
                                            <h6>Desvinculación</h6>
                                            {% if documento.fecha_match %}
                                            <input type="text" name="" id="" class="form-control is-valid" disabled value="{{documento.fecha}}">
                                            {% else %}
                                            <input type="text" name="" id="" class="form-control is-invalid" disabled value="{{documento.fecha}}">
                                            {% endif %}
                                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=col-sm-6>
                                        <div class="container">
                                            <br>
                                           
                                                    <embed src="{% static 'media/' %}{{documento.pdf}}" type="application/pdf" width="100%" height="400px">


                                        </div>                                                   
                                    </div>
                                    <div class=col-sm-6>
                                        <div class="container">
                                            <br>
                                            <textarea class="form-control" disabled id="pdf_texto" rows="20 ">{{documento.pdf_texto}}</textarea>

                                        </div>                                                   
                                    </div>
                                    
                                </div>      
                            </form>
                            <br>
                            <center>
                                <div class="col-sm-3">
                                    <a href="/editar/{{documento.id}}">
                                    <button class="form-control">
                                        Corregir
                                    </button>
                                    </a>
                                </div>
                                
                            </center>
                        </div>
                        
                    </div>
                </div>
            </div>
</div>

{% endblock %}

{% block js_script %}




<script src="{% static 'js/datagrid/datatables/datatables.bundle.js' %}"></script>
<script>
        /* demo scripts for change table color */
        /* change background */


        $(document).ready(function()
        {
            $('#dt-basic-example').dataTable(
            {
                responsive: true
            });

            $('.js-thead-colors a').on('click', function()
            {
                var theadColor = $(this).attr("data-bg");
                console.log(theadColor);
                $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
            });

            $('.js-tbody-colors a').on('click', function()
            {
                var theadColor = $(this).attr("data-bg");
                console.log(theadColor);
                $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
            });

        });

    </script>

{% endblock %}