{% extends "_.html" %}
{% load static %}

{% block header_content %}
<title>Fast Check | ST OpenLabs </title>
<link rel="stylesheet" media="screen, print" href="{% static 'css/datagrid/datatables/datatables.bundle.css' %}">
{% endblock %}

{% block _nombre %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre %}
{% block _nombre2 %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre2 %}
{% block _avatar %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar %}
{% block _avatar2 %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar2 %}
{% block _email %}{{cliente.user.email}}{% endblock _email %}


{% block content_body %}
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active">Resumen</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-'></i>Fast Check <span class='fw-300'>Analitics</span>
        <small>
            Análisis de documentos
        </small>
    </h1>
    <div class="subheader-block">
        
    </div>
</div>

<div>
        <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Lista de documentos <span class="fw-300"></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        
                        <h5 class="frame-heading">
                            Todos los documentos
                        </h5>
                        <div class="frame-wrap">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Nombre</th>
                                        <th>Empleador</th>
                                        <th>Causal</th>
                                        <th>Desvinculación</th>
                                        <th>Revisar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for x in documentos %}
                                     <tr>
                                         <td>
                                             
                                             {% if x.estado == 'SUCCEEDED' %}
                                             Correcto
                                             {% else %}
                                             En progreso
                                             {% endif %}
                                                 
                                         </td>
                                            
                            
                                        <td >{{x.nombre}}</td>
                                        <td >{{x.nombre_e}}</td>
                                        <td >{{x.causal}}</td>
                                        <td >{{x.fecha}}</td>
                                        
                                        <td>
                                             
                                            {% if x.importado == False %}
                                            <a href="/documento/{{x.id}}">
                                               <button class="btn btn-primary">Detalle</button>
                                           </a>
                                           {% else %}
                                           <a href="#">
                                               <button class="btn btn-primary">Detalle</button>
                                           </a>
                                            {% endif %}
                                                
                                        </td>
                                     </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
</div>

{% endblock %}

{% block js_script %}



<script src="{% static 'js/datagrid/datatables/datatables.bundle.js' %}"></script>
<script>
        /* demo scripts for change table color */
        /* change background */


        $(document).ready(function()
        {
            $('#dt-basic-example').dataTable(
            {
                responsive: true
            });

            $('.js-thead-colors a').on('click', function()
            {
                var theadColor = $(this).attr("data-bg");
                console.log(theadColor);
                $('#dt-basic-example thead').removeClassPrefix('bg-').addClass(theadColor);
            });

            $('.js-tbody-colors a').on('click', function()
            {
                var theadColor = $(this).attr("data-bg");
                console.log(theadColor);
                $('#dt-basic-example').removeClassPrefix('bg-').addClass(theadColor);
            });

        });

    </script>

{% endblock %}