{% load static %}
<!-- BEGIN PRIMARY NAVIGATION -->
<nav id="js-primary-nav" class="primary-nav" role="navigation">
    <div class="nav-filter">
        <div class="position-relative">
            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
            <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                <i class="fal fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <ul id="js-nav-menu" class="nav-menu">
        <li class="nav-title">Inicio</li>
        <li>
            <a href="#" title="Menú 1" data-filter-tags="ui components">
                <i class="fal fa-home"></i>
                <span class="nav-link-text" data-i18n="nav.ui_components">General</span>
            </a>
            <ul>
                <li>
                    <a href="/" title="Alerts" data-filter-tags="ui components alerts">
                        <span class="nav-link-text" data-i18n="nav.ui_components_alerts">Resumen</span>
                    </a>
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#" title="Menú 1" data-filter-tags="ui components">
                <i class="fal fa-pencil"></i>
                <span class="nav-link-text" data-i18n="nav.ui_components">Nuevo</span>
            </a>
            <ul>
                <li>
                    <a href="/nuevo" title="Alerts" data-filter-tags="ui components alerts">
                        <span class="nav-link-text" data-i18n="nav.ui_components_alerts">Documento</span>
                    </a>
                </li>
         
                
            </ul>
        </li>
        <li>
            <a href="#" title="Menú 1" data-filter-tags="ui components">
                <i class="fal fa-download    "></i>
                <span class="nav-link-text" data-i18n="nav.ui_components">Importar</span>
            </a>
            <ul>
                <li>
                    <a href="/subircsv" title="Alerts" data-filter-tags="ui components alerts">
                        <span class="nav-link-text" data-i18n="nav.ui_components_alerts">.CSV</span>
                    </a>
                </li>
         
                
            </ul>
        </li>
       
    </ul>
    <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
<!-- END PRIMARY NAVIGATION -->
<!-- NAV FOOTER -->
<div class="nav-footer shadow-top">
    <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
        <i class="ni ni-chevron-right"></i>
        <i class="ni ni-chevron-right"></i>
    </a>
    <ul class="list-table m-auto nav-footer-buttons">
        <li>
            <a href="/" data-toggle="tooltip" data-placement="top" title="Inicio">
                <i class="fal fa-home"></i>
            </a>
        </li>
        <li>
            <a href="/" data-toggle="tooltip" data-placement="top" title="Ayuda">
                <i class="fal fa-life-ring"></i>
            </a>
        </li>
        <li>
            <a href="/" data-toggle="tooltip" data-placement="top" title="Información">
                <i class="fal fal fa-info-circle"></i>
            </a>
        </li>
    </ul>
</div> <!-- END NAV FOOTER -->