{% extends "_.html" %}
{% load static %}

{% block header_content %}
<title>Fast Check | ST OpenLabs </title>
<link rel="stylesheet" media="screen, print" href="{% static 'css/datepicker.css' %}">

{% endblock %}

{% block _nombre %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre %}
{% block _nombre2 %}{{cliente.user.first_name}} {{cliente.user.last_name}}{% endblock _nombre2 %}
{% block _avatar %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar %}
{% block _avatar2 %}{% static "" %}media/{{cliente.avatar}}{% endblock _avatar2 %}
{% block _email %}{{cliente.user.email}}{% endblock _email %}


{% block content_body %}
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active">Nuevo registro</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Nuevo <span class="fw-300"><i>registro de documento</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="row">
                          <div class="col-sm-6">
                              {{form.tipo.label}} <br>
                              {{form.tipo}} <br>
                              {{form.nombre.label}} <br>
                              {{form.nombre}} <br>
                              {{form.rut.label}} <br>
                              {{form.rut}} <br>
                              {{form.causal.label}} <br>
                              {{form.causal}} <br>
                              {{form.pdf.label}}
                              {{form.pdf}}
                      </div>
                      <div class="col-sm-6">
                              {{form.nombre_e.label}} <br>
                              {{form.nombre_e}} <br>
                              {{form.rut_e.label}} <br>
                              {{form.rut_e}} <br>
                              {{form.fecha.label}} <br>
                              {{form.fecha}} <br>
                              <button class="btn btn-primary" type="submit">Listo</button>
                              
                              
                      </div>
                       </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js_script %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script>
    // Class definition

    var controls = {
        leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
        rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
    }

    var runDatePicker = function()
    {

        // minimum setup
        $('#datepicker-1').datepicker(
        {
            todayHighlight: true,
            orientation: "bottom left",
            templates: controls
        });
    }
    $(document).ready(function()
    {
        runDatePicker();
    });

</script>
{% endblock %}